@charset "utf-8";

@import "bourbon/bourbon";
@import "grid_settings";
@import "neat/neat";
@import "bitters/bitters";
@import 'github';

@import 'fonts';

pre {
  padding: 0;
  line-height: 23px;
  white-space: pre;
  overflow-x: auto;
  word-break: inherit;
  word-wrap: inherit;
}

body {
  font-weight: 200;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #1e1e1f;
  -webkit-font-smoothing: antialiased;
}

div.container {
  @include outer-container;
}

div.content {
  @include span-columns(12);
}

h1 {
  color: #1D1801;
  font-weight: 200;
}

.border-bottom {
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 80px;
    left: 50%;
    margin-left: -40px;
    background-color: #cbc9cf;
  }
}

article {
  p {
    font-weight: 400;
    line-height: 2em;
  }
}

.avatar {
  width: 120px;
  border-radius: 60px;
  position: absolute;
  margin-top: 20px;
}

.post-title {
  text-align: center;
  color: #807f83;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.post-info {
  margin-bottom: 24px;
  line-height: 0.55em;
  color: #67666a;
  font-size: 0.55em;
  display: block;
  text-align: center;
  a:hover {
    text-decoration: underline;
  }
}

footer {
  margin-top: 50px;
  text-align: center;

  p {
    font-size: 0.55em;
  }
  ul.social {
    li {
      display: inline;
      a {
        padding: 20px;
        color: #807f83;
        &:hover {
          color: darken(#807f83, 20%);
        }
      }
    }
  }
}

nav {
  display: block;
  line-height: 32px;
  color: #c0c0c0;
}

header {
  position: relative;
}

header h1 {
  margin-left: 140px;
}

header a {
  text-decoration: none;
  border-bottom: 2px solid #268bd2;
  color: inherit;
}

header a:hover {
  border-color: #d30102;
  text-shadow: 0px 0px 10px #268bd2;
}

nav ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
}

nav li {
  display: inline;
  font-size: $base-font-size * 0.6;
}

nav li:after {
  content: "·";
  text-transform: uppercase;
  font-weight: 700;
}

nav li.last:after {
  content: "";
}

nav a {
  color: #839496;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

nav a:hover {
  color: #859900;
  text-decoration: underline;
}

.writing { color: #b58900; }
.tweets { color: #cb4b16; }
.photos { color: #d30102; }
.linkedin { color: #d33682; }
.github { color: #6c71c4; }
.resume { color: #268bd2; }
.businesscard { color: #2aa198; }
.aboutme { color: #859900; }

section.posts {
  margin-top: 160px;
  .post {
    margin-bottom: 60px;
    padding-bottom: 40px;
  }
  h1 {
    font-size: $base-font-size * 2;
    a {
      color: #67666a;
      &:hover {
        color: darken(#67666a, 20%);
      }
    }
  }
  .more {
    display: inline-block;
    margin-top: 20px;
    color: #67666a;
    margin-bottom: 60px;
    border-bottom: 1px dotted #67666a;
    &:hover {
      color: darken(#67666a, 20%);
    }
  }
}
