@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400,400italic,700,700italic);
@import 'partials/settings';
@import 'foundation/scss/normalize';
@import 'foundation/scss/foundation';
@import 'github';

header.row {
  margin-top: 64px;
  margin-bottom: 32px;
}

.logo {
  width: 256px;
  max-width: 100%;
}

.index {
  .small-centered {
    text-align: center;
  }

  .posts {
    ul {
      padding: 0;
      margin-top: 60px;
      padding-top: 60px;
      border-top: 1px solid $smoke;
      text-align: left;
      list-style-type: none;
    }

    li {
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid $smoke;
    }
  }
}

.posts {
  .byline {
    font-style: italic;
  }

  .date {
    font-style: italic;
    color: $base;
    &:before {
      content: "  \00b7  "
    }
  }

  .post-date {
    font-style: italic;
    color: $base;
  }

  .post-byline {
    font-style: italic;
    display: block;
    line-height: 24px;
  }
}

.post-introduction {
  background: #c00000;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 48px;

  h1 {
    color: white;
  }

  .post-date {
    color: white;
  }

  .avatar {
    height: 25px;
    width: auto;
    vertical-align: bottom;
    padding-left: 2px;
  }

  a {
    color: white;
    font-weight: bold;
  }
}

.avatar {
  width: 90px;
  height: auto;
  border-radius: 100%;

  .index & {
    width: 120px;
    margin-bottom: 24px;
  }
}

.post-title {
  text-transform: uppercase;
}

header.row {
  margin-bottom: 2em;
}

.highlight {
  margin-bottom: 1.25rem;
  code {
    background: none;
    border-color: transparent;
  }
}

footer {
  margin-top: 48px;
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
  background: $white-smoke;

  p {
    margin-bottom: 0;
  }
}
