ul
  li
    a.writing href="/archive" Blog
  li
    a.tweets href="http://twitter.com/pusewicz" Twitter
  li
    a.photos href="http://flickr.com/usewicz" Flickr
  li
    a.linkedin href="http://www.linkedin.com/in/piotrusewicz" LinkedIn
  li
    a.github href="http://resume.github.com/?pusewicz" Github
  li
    a.resume href="http://resume.linkedinlabs.com/mtqi3hcy" Résumé
  li
    a.businesscard href="https://plus.google.com/109868740099034969013?rel=author" rel="author" Google
  li.last
    a.aboutme href="http://about.me/piotr.usewicz" About.me

