ruby:
  set_meta_tags(
    title: current_page.data.title,
    keywords: current_page.data.meta_keywords,
    description: current_page.data.meta_description
  )

= wrap_layout :layout do
  header.row
    .small-10.small-centered.columns= partial 'layouts/header'
  .post-introduction
    .row.posts
      .small-10.small-centered.columns
        article class="post border-bottom" itemscope=true itemtype="http://schema.org/BlogPosting"
          span.post-date= pretty_date(current_page.date)
          h1.border-bottom.post-title itemprop="name" = current_page.data.title
          span.post-byline
            | By <a href="https://plus.google.com/109868740099034969013?rel=author" rel="author" itemprop="author">#{image_tag('piotr-usewicz.png', alt: 'Piotr Usewicz', class: 'avatar')} Piotr Usewicz</a></span>

  .row.posts
    .small-8.small-centered.columns
      = yield
  .row
    .small-8.small-centered.columns
      a href="https://news.ycombinator.com/submit" class="hn-share-button" Vote on Hacker News

script src="//hnbutton.appspot.com/static/hn.min.js" async=true defer=true
