= wrap_layout :layout do
  article class="post" itemscope=true itemtype="http://schema.org/BlogPosting"
    h1 itemprop="name" = current_page.data.title
    span class="author"
      | By <a href="https://plus.google.com/109868740099034969013?rel=author" rel="author" itemprop="author">Piotr Usewicz</a></span>
    = yield
