@use "icons";

*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

main div.container {
  text-align: center;
}

.container.hi {
  margin: 0 3rem;
  font-size: 1.5rem;
  font-family: var(--font-serif);
  padding: 1rem;
  margin-bottom: 3rem;

  a {
    color: var(--accent-color);
  }
}

.avatar {
  border-radius: 100%;
  width: 6rem;
  height: auto;
}

footer {
  a:hover {
    color: var(--accent-color);
  }
}

article {
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 36em;
  margin: 0 auto;

  img {
    max-width: 100%;
  }

  p {
    line-height: 1.7;
    color: var(--text-color);
  }

  ul {
    margin: 1.5rem 0;
    padding-left: 2rem;
    list-style-type: disc;
    color: var(--text-color);

    li {
      margin-block-start: 0.3rem;
      margin-block-end: 0.3rem;
      line-height: 1.6;
    }
  }

  .last-modified,
  .post-meta {
    font-size: 0.8em;
    color: var(--text-color-light);
  }

  &.post .post-meta {
    display: block;
    text-align: center;
    margin-bottom: 3em;
  }

  h1,
  h2 {
    color: var(--accent-color);
    font-size: 3rem;
    font-family: var(--font-serif);

    small {
      font-family: var(--font-sans);
      font-weight: normal;

      &::before {
        content: "\00a0\2014\00a0";
      }
    }
  }
}

article.home {
  padding: 2rem;
  padding-bottom: 3rem;

  a.archive {
    display: block;
    margin-top: 1rem;
    font-size: 0.75rem;
    float: right;
  }
}

p > img {
  margin: 1rem -1rem;
  max-width: calc(100% + 2rem);
}

div.highlighter-rouge {
  margin: 1rem -1rem;

  div.highlight {
    padding: 1rem 1rem;
    overflow-x: auto;
  }
}

article.page,
article.post {
  padding: {
    top: 2rem;
    bottom: 2rem;
    left: 1rem;
    right: 1rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
    line-height: 1.1;
    letter-spacing: -0.04em;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h2,
  h3 {
    a.header-link {
      display: inline-block;
      text-decoration: none;
      font-size: 0.5em;
      font-weight: normal;
      margin-left: 0.5em;
      vertical-align: middle;
      visibility: hidden;
      width: 1em;
      height: 1em;
      background-image: url("#{icons.$header-icon}");
      background-repeat: no-repeat;
    }

    &:hover {
      a.header-link {
        visibility: visible;
      }
    }
  }
}

ul.post-index {
  margin-top: 3rem;
  margin-bottom: 3rem;

  &,
  & li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 1.4rem;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

code {
  font-family: var(--font-mono);
}

// Mobile
@media screen and (width <= 480px) {
  html {
    font-size: 14px;
  }

  main,
  footer {
    max-width: 100%;
    font-size: 1rem;
  }

  div.highlighter-rouge {
    margin: 0 -1rem;

    div.highlight {
      padding: 1rem;
    }
  }

  article.post {
    p {
      font-size: 1rem;
    }

    h1,
    h2 {
      font-size: 2rem;
    }

    hgroup {
      small {
        margin-top: 1rem;
        display: block;
        font-size: 1.2rem;

        &::before {
          display: none;
        }
      }
    }
  }
}

// Tablet
@media screen and (width >= 480px) {
}

// Small screens
@media screen and (width >= 768px) {
  html {
    font-size: 16px;
  }
}

// Large screens
@media screen and (width >= 1200px) {
  html {
    font-size: 24px;
  }
}
