main div.container {
  text-align: center;
}

.container.hi {
  margin: 0 3rem;
  font-size: 1.5rem;
  font-family: var(--font-serif);
  padding: 1rem;
}

.avatar {
  border-radius: 100%;
  width: 6rem;
  height: auto;
}

footer {
  margin-top: 4rem;
}

article {
  margin-top: 3rem;
  margin-bottom: 3rem;

  img {
    max-width: 100%;
  }

  p {
    line-height: 1.6;
  }

  h1,
  h2 {
    font-size: 3rem;
    font-family: var(--font-serif);

    small {
      font-family: var(--font-sans);
      font-size: 1.4rem;
      font-weight: normal;
      color: var(--alt-color);

      &::before {
        content: "\00a0\2014\00a0";
      }
    }
  }
}

div.highlighter-rouge {
  margin: 2rem -2rem;

  div.highlight {
    padding: 1rem 2rem;
    overflow-x: auto;
  }
}

article.home {
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

article.page,
article.post {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  h2,
  h3 {
    a.header-link {
      display: inline-block;
      text-decoration: none;
      font-size: 0.5em;
      font-weight: normal;
      margin-left: 0.5em;
      vertical-align: middle;
      visibility: hidden;
      width: 1em;
      height: 1em;
      background-image: url('data:image/svg+xml,<svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="m429.7 621.3c-13 0-26.1-5-36-14.9-93.3-93.3-93.3-245 0-338.2l188.1-188.3c45.2-45.1 105.3-70 169.1-70 63.9 0 123.9 24.9 169.1 70.1 93.3 93.3 93.3 245 0 338.2l-86 86c-19.9 19.9-52.2 19.9-72.1 0s-19.9-52.2 0-72.1l86-86c53.5-53.5 53.5-140.6 0-194.1-25.9-25.9-60.4-40.2-97-40.2-36.7 0-71.1 14.3-97 40.2l-188.2 188.2c-53.5 53.5-53.5 140.6 0 194.1 19.9 19.9 19.9 52.2 0 72.1-10 9.9-23 14.9-36 14.9z"/><path d="m249.1 990.1c-63.9 0-123.9-24.9-169.1-70.1-93.3-93.3-93.3-245 0-338.2l86-86c19.9-19.9 52.2-19.9 72.1 0s19.9 52.2 0 72.1l-86 86c-53.5 53.5-53.5 140.6 0 194.1 25.9 25.9 60.4 40.2 97 40.2s71.1-14.3 97-40.2l188.2-188.2c53.5-53.5 53.5-140.6 0-194.1-19.9-19.9-19.9-52.2 0-72.1s52.2-19.9 72.1 0c93.3 93.3 93.3 245 0 338.2l-188.2 188.3c-45.2 45.1-105.3 70-169.1 70z"/></svg>');
      background-repeat: no-repeat;
    }

    &:hover {
      a.header-link {
        visibility: visible;
      }
    }
  }

  p {
    color: #515151;
  }
}

ul.post-index {
  &,
  & li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 4rem;
  }
}

code {
  font-family: var(--font-mono);
}

// Mobile
@media screen and (width <= 480px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 1rem;
  }

  main,
  footer {
    max-width: 100%;
    font-size: 1rem;
  }

  div.highlighter-rouge {
    margin: 0 -1rem;

    div.highlight {
      padding: 1rem;
    }
  }

  article.post {
    p {
      font-size: 1rem;
    }

    h1,
    h2 {
      font-size: 2rem;
    }

    hgroup {
      small {
        margin-top: 1rem;
        display: block;
        font-size: 1.2rem;

        &::before {
          display: none;
        }
      }
    }
  }
}

// Tablet
@media screen and (width >= 480px) {
  body {
    padding: 2rem;
  }

  main,
  footer {
    margin: 0 auto;
  }
}

// Small screens
@media screen and (width >= 768px) {
  html {
    font-size: 16px;
  }

  main,
  footer {
    max-width: 40rem;
    width: 40rem;
    margin: 0 auto;
  }

  div.highlighter-rouge {
    div.highlight {
      border-radius: 6px;
    }
  }
}

// Large screens
@media screen and (width >= 1200px) {
  html {
    font-size: 24px;
  }

  main,
  footer {
    margin: 0;
  }

  div.highlighter-rouge {
    div.highlight {
      border-radius: 0 12px 12px 0;
    }
  }
}
