---
sitemap: false
---

@charset "utf-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans&family=DM+Serif+Display&display=swap");

:root {
  --accent-color: #c00000;
  --bg-color: #fffffe;
  --alt-color: #626988;
  --font-mono: "DM Mono", monospace;
  --font-sans: "DM Sans", sans-serif;
  --font-serif: "DM Serif Display", serif;
}

body {
  font-family: var(--font-sans);
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-size: 100%;
}

body.about {
  article.page img {
    float: right;
    height: 300px;
  }
}

a {
  color: var(--accent-color);
}

.logo {
  max-width: 256px;
  height: auto;
}

main header {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

main div.container {
  text-align: center;
}

.container.hi {
  margin: 0 3rem;
  font-size: 1.5rem;
  font-family: var(--font-serif);
  padding: 1rem;
}

.avatar {
  border-radius: 100%;
  width: 6rem;
  height: auto;
}

main > nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

nav.menu {
  margin: 0.5rem 0;
  padding: 0.8rem 0.5rem;
  border: 5px solid;
  border-color: var(--accent-color);
  background: var(--bg-gray);
  text-align: center;
  margin: 0;
  a {
    margin: 0 0.5rem;
    line-height: 1em;
    font-size: 22px;
    list-style: none;
    padding: 0;
    display: inline-block;
    text-decoration: none;
  }
}

nav.archives {
  border-bottom: 0;
  padding-bottom: 0;

  .active {
    text-decoration: underline;
  }
}

nav.browse {
  border-top: 0;
  padding-top: 0;
}

footer {
  margin-top: 4rem;
}

article {
  margin-top: 3rem;
  margin-bottom: 3rem;

  img {
    max-width: 100%;
  }

  p {
    line-height: 1.6;
  }

  h1,
  h2 {
    font-size: 3rem;
    font-family: var(--font-serif);

    small {
      font-family: var(--font-sans);
      font-size: 1.4rem;
      font-weight: normal;
      color: var(--alt-color);

      &:before {
        content: "\00a0\2014\00a0";
      }
    }
  }
}

div.highlighter-rouge {
  margin: 2rem -2rem;

  div.highlight {
    padding: 1rem 2rem;
    overflow-x: auto;
  }
}

article.page,
article.post {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  p {
    color: #515151;
  }
}

article.home {
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

ul.post-index {
  &,
  & li {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }

  li {
    margin-bottom: 4rem;
  }
}

code {
  font-family: var(--font-mono);
}

// Mobile
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }

  body {
    padding: 1rem;
  }

  main,
  footer {
    max-width: 100%;
    font-size: 1rem;
  }

  div.highlighter-rouge {
    margin: 0 -1rem;

    div.highlight {
      padding: 1rem;
    }
  }

  article.post {
    p {
      font-size: 1rem;
    }

    h1,
    h2 {
      font-size: 2rem;
    }

    hgroup {
      small {
        margin-top: 1rem;
        display: block;
        font-size: 1.2rem;

        &:before {
          display: none;
        }
      }
    }
  }
}

// Tablet
@media screen and (min-width: 480px) {
  body {
    padding: 2rem;
  }

  main,
  footer {
    margin: 0px auto;
  }
}

// Small screens
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }

  main,
  footer {
    max-width: 40rem;
    width: 40rem;
    margin: 0px auto;
  }

  div.highlighter-rouge {
    div.highlight {
      border-radius: 6px;
    }
  }
}

// Large screens
@media screen and (min-width: 1024px) {
}

// Large screens
@media screen and (min-width: 1200px) {
  html {
    font-size: 24px;
  }

  main,
  footer {
    margin: 0;
  }

  div.highlighter-rouge {
    div.highlight {
      border-radius: 0 12px 12px 0;
    }
  }
}
