<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title == "Home" %}
        {{ site.title }}{% if site.tagline %} &middot; {{ site.tagline }}{% endif %}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>
    <link rel="preload" href="{{ "assets/css/main.css" | relative_url }}" as="style" />
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
    {% if page.custom_css %}
      {% for css_file in page.custom_css %}
        <link rel="preload" href="{{ "assets/css/" | append: css_file | relative_url }}" as="style" />
        <link rel="stylesheet" href="{{ "assets/css/" | append: css_file | relative_url }}" />
      {% endfor %}
    {% endif %}
    {% feed_meta %}
    {% seo title=false %}
  </head>
  <body data-instant-intensity="viewport" class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {{ page.title | slugify }}">
    <main class="container">{{ content }}</main>
    <footer class="container">
      <small>© 2004-<time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> <a rel="me" href="{{ 'about' | relative_url }}">Piotr Usewicz</a> · Benicarló, Spain · <a href="{{ 'contact' | relative_url }}">Contact</a> · <a href="{{ 'feed.xml' | relative_url }}"><abbr title="Really Simple Syndication">RSS</abbr>&nbsp;Feed</a></small>
    </footer>
    <script src="//instant.page/5.1.1" type="module" integrity="sha384-MWfCL6g1OTGsbSwfuMHc8+8J2u71/LA8dzlIN3ycajckxuZZmF+DNjdm7O6H3PSq"></script>
  </body>
</html>
