---
layout: default
---

<header class="container">
  <hgroup>
    {% imagesize /images/logo.png:img class="logo" alt="layer|twenty|two logo" %}
  </hgroup>
</header>

<div class="container hi">
  {% assign avatar = "https://www.gravatar.com/avatar/dcbf676f860477e44b275cae5d6318a4.jpg?s=288" %}
  {% imagesize avatar:img alt="Piotr Usewicz" class="avatar" %}
  <h3>Hi, I'm <a href="https://github.com/pusewicz/">Piotr Usewicz</a>.<br>I write software.</h3>
</div>

<article class="home">
  <ul class="post-index">
  {% for post in site.posts limit:3 %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a><small>{{ post.date | date: "%B %d, %Y" }}</small></h2>
    </li>
  {% endfor %}
  </ul>

  <a href="/archive">View All Posts&rarr;</a>
</article>
