---
layout: default
---

{% include nav.html %}

<article class="post">
    <hgroup>
      <h1>{{ page.title }}</h1>
      {% assign post = page %}
      {% include post/post-meta.html categories=true tags=true %}
    </hgroup>
    {{ content }}

    <p class="last-modified">
      <small>
        <time class="post-updated-at" datetime="{{ page.last_modified_at | date_to_xmlschema }}" aria-label="Last modified on on {{ page.last_modified_at | date: '%A, %e of %B, %Y at %H:%M' }}">Last modified on {{ post.date | date: '%A, %e of %B, %Y at %H:%M' }}</time>
      </small>
      &middot;
      <small><a title="Edit current page on GitHub" href="{{ site.github.repository_url }}/edit/{{ site.github.branch }}/{{ page.relative_path }}">Edit</a></small>
    </p>
</article>

<script>
  const headings = document.querySelectorAll('article.post > h2[id], h3[id]');
  for (const heading of headings) {
    const linkIcon = document.createElement('a');
    linkIcon.setAttribute('href', `#${heading.id}`);
    linkIcon.setAttribute('class', `header-link`);
    linkIcon.setAttribute('title', `Link to the "${heading.innerText}" heading`);
    heading.appendChild(linkIcon);
  }
</script>
