---
layout: default
---

{% include nav.html %}

<article class="til">
  <hgroup>
    <h1>TIL: {{ page.title }}</h1>
    {% assign post = page %}
  </hgroup>
  <section>{{ content }}</section>
  <nav style="display: flex; justify-content: space-between;">
    {% assign tils = site[page.collection] | reverse  %}
    {% if tils.size > 1 %}
      {% assign prevurl = tils.last.url | remove: ".html" %}
      {% assign nexturl = tils.first.url | remove: ".html" %}
      {% assign currurl = page.url | remove: ".html" %}
      <div>
      {% if prevurl != currurl %}
        <a href="{{ prevurl }}" rel="prev">← TIL: {{ tils.last.title }}</a>
      {% endif %}
      </div>
      <div>
      {% if nexturl != currurl %}
        <a href="{{ nexturl }}" rel="next">TIL: {{ tils.first.title }} →</a>
      {% endif %}
      </div>
    {% endif %}
  </nav>
</article>
