---
title: About
---

header.row
  .small-10.small-centered.columns= partial 'layouts/header'
.row
  .small-10.small-centered.columns
    markdown:

      # About

      I'm Piotr Usewicz and I love programming. I'm good at Ruby and Erlang.

      Places you can find me:

        * [Facebook](https://www.facebook.com/pusewicz)
        * [Twitter](https://twitter.com/pusewicz)
        * [LinkedIn](https://www.linkedin.com/in/piotrusewicz)
