---
title: Contact
---

header.row
  .small-10.small-centered.columns= partial 'layouts/header'
.row
  .small-10.small-centered.columns
    h1 Contact

    p You can get in touch with me using the following:

    ul
      li= link_to 'Twitter', 'https://twitter.com/pusewicz'
      li= link_to 'LinkedIn', 'https://www.linkedin.com/in/piotrusewicz'
      li= link_to 'Facebook', 'https://www.facebook.com/pusewicz'
      li= link_to 'Google+', 'https://plus.google.com/+PiotrUsewiczRockstar'

