---
title: Gallery
---

header.row
  .small-10.small-centered.columns= partial 'layouts/header'
.row
  .small-10.small-centered.columns
    h1 Gallery

    p A collection of photos, albums and other sets is available on <a href="https://www.flickr.com/photos/usewicz/">Flickr</a>.
