---
title: Piotr Usewicz - Ruby and Erlang programmer
meta_keywords: ruby, rails, erlang, javascript, coffeescript, riak, redis, mysql, nosql, sql, software engineer, programmer, developer
meta_description: layer|twenty|two is the home page of Piotr Usewicz, a Ruby and Erlang programmer.
---

header.row
  .small-10.small-centered.columns= partial 'layouts/header'
.row
  .small-10.small-centered.columns= partial 'layouts/piotr'
.row.posts
  .small-10.small-centered.columns
    ul
      - blog.articles.select { |a| !a.data[:private] }[0...5].each do |article|
        li
          h5= link_to article.title, article.path
          span.byline
            | By <a href="http://twitter.com/pusewicz">Piotr Usewicz</a>
          span.date= pretty_date(article.date)
          = article.summary(140)
